.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.box {
  height: 200px;
  width: 200px;
  border: solid 4px #065;
  color: #001;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 3px;
}
